* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    font-family: "Roboto";
    font-size: 10px;
}

input {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
    font-weight: 100;
}

button {
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    cursor: default;
    margin: 0px;
    padding: 0px;
    font-weight: 100;
}

span {
    cursor: default;
}

p {
    cursor: default;
}

body {
    margin: 0px;
    padding: 0px;
}

.container {
    padding: 0 calc((100% - 1170px) / 2);
}

.bg {
    background-color: #3A51CC;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.firstBlock {
    display: flex;
    align-items: center;
}

.navList {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.menu_element {
    margin-right: 20px;
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 400;
}

.link_login_page {
    display: inline-flex;
    align-items: center;
}

.link_login_page_element {
    padding: 0 20px;
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 400;
}

.add {
    padding: 10px 30px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 4px;
}


/* link element style! */

.linkPage {
    display: inline-block;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.5);
}

.main {
    color: #3A51CC;
    margin: 68px 0 0 0;
}

.achivementsBlock {
    width: 700px;
    margin-top: 50px;
}

.achivementsElement {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title_body {
    width: 100%;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color: #000000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}

.text_item {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #000000;
    margin-right: 18px;
}

.no {
    margin-left: 20px;
}

.achiements_low_element {
    width: 15px;
    height: 15px;
}

.achiements_div {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.achiements_div {
    display: flex;
    align-items: center;
}


/* input for downlaod */

.file_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.registerline {
    position: relative;
}

.inputfile {
    display: none;
}

.input_label {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    height: 44px;
    background: rgba(81, 145, 250, 0.2);
    border: 1px dashed rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 0 30px;
}

.iconimgone {
    position: absolute;
    top: 14px;
    right: 160px;
    display: flex;
    align-items: center;
}

.dowload {
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

.icondiV {
    display: flex;
    position: absolute;
    right: 1px;
    top: 2px;
    height: 100%;
    pointer-events: none;
}

.iconingtwo {
    display: flex;
    background-color: #5191FA;
    align-items: center;
    padding: 0 10px;
    justify-content: center;
    border-radius: 4px;
    margin-right: 1px;
}

.file {
    width: 20px;
    height: 20px;
    fill: #fff;
}

.camera {
    width: 20px;
    height: 20px;
    fill: #fff;
}

.text_underIcon {
    display: block;
    width: 400px;
    margin: 30px 0 0 auto;
}

.iconText {
    display: block;
    letter-spacing: 0.125em;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    line-height: 16px;
}

.next {
    width: 190px;
    height: 60px;
    background-color: #3A51CC;
    border-radius: 16px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0px 125px auto;
}

.back {
    width: 190px;
    height: 60px;
    background-color: #3A51CC;
    border-radius: 16px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin: 30px 20px 125px 300px;
}

.btn_block {
    display: flex;
}

.fileItem {
    display: block;
    margin-top: 100px;
}

.register_write_text_string {
    display: flex;
    align-items: center;
    width: 400px;
    height: 40px;
    background-color: #EEEEEE;
    border-radius: 4px;
    padding: 10px 30px;
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Roboto';
    transition: all .3s;
}

.register_name_line {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.HelperText {
    width: 700px;
}

.editbg {
    padding: 0;
    background: transparent;
    display: block;
    position: relative;
}


/* input for file style */

.main-block {
    display: flex;
    justify-content: space-between;
}


/* Step Block style */

.stepEventDiv {
    margin-top: 72px;
}

.activePoint {
    width: 220px;
    height: 20px;
    background-color: #3A51CC;
    border-radius: 4px;
    margin-bottom: 20px;
}

.emptyblock {
    width: 200px;
    height: 20px;
    border: 2px solid #3A51CC;
    border-radius: 4px;
    background-color: rgba(196, 196, 196, 0.3);
    margin: 0 0 20px auto;
}

.stepTitle {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 35px;
}


/* Footer style */

.endblock {
    display: flex;
    justify-content: space-between;
    background-color: #414141;
    width: 100%;
    padding: 60px 0;
}

.endlogo img {
    width: 100px;
    height: 100px;
}

.bgcEnd {
    background-color: #414141;
}

.endblocktext {
    color: #FFFFFF;
    margin: 0px;
    font-size: 1.8rem;
}

.endBlockElementadd {
    margin: 0px;
    padding-top: 15px;
    color: #FFFFFF;
    font-size: 1.8rem;
    display: block;
}

.SocialIcons {
    width: 20px;
    height: 20px;
    text-align: right;
}

.footerPhone {
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    display: block;
    margin-bottom: 15px;
}

.endblockLocation {
    display: block;
}

.location {
    display: block;
}

.socialIcons {
    padding-top: 15px;
    display: block;
    text-align: center;
}

.footerPhoneBlock {
    padding-top: 15px;
}

.HelperText {
    margin-bottom: 135px;
}


/* Footer styles */

@media (max-width: 1171px) {
    .container {
        padding: 0 calc((100% - 870px) / 2);
    }
}